{% extends 'public/base.html.twig' %}

{% block metatitle %}Résultat de rechercher pour "{{ search }}"{% endblock metatitle %}

{% block body %}

    <main>

        <h1>Voici le résultat pour votre recherche "{{ search }}"</h1>

        {% for category in categories %}
            <article>
                <p>{{ category.title }}</p>
                <a href="{{ path('show_category', {id: category.id}) }}">Voir la catégorie</a>
            </article>
        {% endfor %}
    </main>

{% endblock body %}