{% extends 'base.html.twig' %}

{% block metatitle %}Les recettes cools{% endblock metatitle %}

{% block body %}

    <main>

        <h1>Les recettes folles</h1>
        <p>manger c'est bien</p>
    </main>

{% endblock body %}